@model IEnumerable<MyApp.Models.Student>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">

    <div class="panel-heading">
        <h4 class="text-center text-danger">Student List</h4>
    </div>
    <div class="d-flex justify-content-end mb-3" >
        <a asp-controller="StudentView" asp-action="" class="btn btn-info">Add Student</a>
    </div>
    <div class="panel-body">
        <table class="table table-bordered" id="Table">
            <tr>
                <th>Student Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Phone Number</th>
                <th id="btnUpdate">Action</th>
            </tr>
        </table>
    </div>
</div>

<div id="result"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<script>
    $(document).ready(function () {
        Manager.GetStudentList();
    });

    var update = 
        console.log("kdjskdksdjsdjk");

    var Manager = {
        GetStudentList: function () {
            var obj = "";
            var serviceUrl = "http://localhost:5000/api/student";
            window.Manager.GetAPI(serviceUrl, onSuccess, onFailed);
            function onSuccess(jsonData) {
                obj = jsonData;
                $.each(jsonData, function (i, item) {
                    var rows = "<tr>" +
                            "<td id = 'studentName'>" + item.studentName + "</td>" +
                            "<td id = 'email'>" + item.email + "</td>" +
                            "<td id = 'address'>" + item.address + "</td>" +
                        "<td id = 'phoneNumber'>" + item.phoneNumber + "</td>" +
                        "<td id  = 'action'>" + "<input id='btnUpdate' onClick='update("item.studentId")', type='button' class='btn btn-info' value='Update' />" + "</td>"
                       $('#Table').append(rows);
                });
            }

            function onFailed(error) {
                window.alert(error.statusText);
            }
            return obj;
        },
        GetAPI: function (serviceurl, successCallback, errorcallback) {
            $.ajax({
                type: "GET",
                url: serviceurl,
                dataType: "json",
                success: successCallback,
                error: errorcallback
            });
        },
        update: function (id) {
            console.log("Pratik palanpure");
        }
    }
</script>


       
<script>
    $(document).ready(function () {
        $("#update").click(function (id) {
            console.log("hdgsdsjkdg" , id);
        })
    });

    
</script>